body
{
	background-color: #6b4537;
	font-family: Helvetica;
}

aside {
	
}

h1 {
	text-align: center;
	color: #e6e6e6;
	font-weight: lighter;
	display: block;
	font-variant: small-caps;
}

.icon {
	position: relative;
	display: inline;
}

.content {
	display: none;
	position: absolute;
	font-size: 18px;
	color: #e6e6e6;
	background-color: #5d4037;
	width: 300px;
	height: 200px;
	text-align: center;
	padding: 20px;
	border-style: solid;
	border-radius: 5px;
}

.icon:hover .content {
	display:block;
	}

.desc {
	text-align: left;
	font-size: 14px;
}

.filterDiv {
  float: left;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
  cursor: pointer;
}